1/ Connexion à la BDD MongoDB Atlas

In [2]:
import pprint
import pymongo
import json
import connector
from dotenv import load_dotenv
load_dotenv()
import os
from pymongo import MongoClient
# user = os.getenv("USER")
# password = os.getenv("PASSWORD")
# client = pymongo.MongoClient("mongodb+srv://"+ user +":"+ password +"@cluster0-doqes.mongodb.net/test?retryWrites=true&w=majority")
db = connector.connect()
collection = db.vehicules

SyntaxError: invalid syntax (connector.py, line 9)

2/ Prendre le premier document de la BDD

In [14]:
collection.find_one()

{'_id': ObjectId('5ed3ed8fd59082dd24ba102c'),
 'num_arete': 0,
 'num_jour': 0,
 'plage_horaire': 'm',
 'num_periode': 1,
 'nb_vehicules': 58}

3/ Afficher le nombre de documents pour lesquels la mesure a eu lieu sur la plage horaire du matin « m »

In [10]:
collection.count_documents({'plage_horaire' : 'm'})

300000

4/ Afficher le nombre d'arêtes pour le graphe

In [35]:
cursor = collection.aggregate([{'$group' : {'_id':'$num_arete', 'count':{'$sum':1}}}])
print(list(cursor)[0])

{'_id': 470, 'count': 1200}

5/ Afficher le nombre total de véhicules ayant circulé

In [41]:
cursor2 = collection.aggregate([{"$group" : {'_id':'null', 'total':{'$sum':"$nb_vehicules"}}}])
print(list(cursor2))

[{'_id': 'null', 'total': 47912100}]

6/ Afficher les 3 derniers documents

In [51]:
cursor3 = collection.find().sort([('$natural',-1)]).limit(3);
print(list(cursor3))

[{'_id': ObjectId('5ed3f137d59082dd24c337eb'), 'num_arete': 499, 'num_jour': 4, 'plage_horaire': 's', 'num_periode': 119, 'nb_vehicules': 89}, {'_id': ObjectId('5ed3f137d59082dd24c337ea'), 'num_arete': 499, 'num_jour': 4, 'plage_horaire': 's', 'num_periode': 118, 'nb_vehicules': 47}, {'_id': ObjectId('5ed3f137d59082dd24c337e9'), 'num_arete': 499, 'num_jour': 4, 'plage_horaire': 's', 'num_periode': 116, 'nb_vehicules': 94}]

7/ Afficher le nombre de véhicules ayant circulé sur la 498ème arête

In [65]:
cursor4 = collection.aggregate([{'$match':{'num_arete':498}},{"$group" : {'_id':'null', 'total':{'$sum':"$nb_vehicules"}}}])
print(list(cursor4))

[{'_id': 'null', 'total': 92137}]